@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{    
	var homePage = CurrentPage.Site();
	var selection = homePage.Children.Where("UmbracoNaviHide == false && TemplateId > 0");
}
<nav class="c-nav js-nav" aria-labelledby="toggle-menu" role="navigation">
	<ul class="c-nav__list">
		@foreach( var item in selection ) {
			var pageUrl = "";
			if( item.DocumentTypeAlias == "LandingPage" ) {
				pageUrl = ( item.Children.Count() > 0 ? item.FirstChild().Url : "#" );
			} else {
				pageUrl = item.Url;
			}

			<li class="c-nav__item">
				<a href="@pageUrl" class='c-nav__link @(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)'>
					@item.Name
				</a>
				@Traverse( item )
			</li>
		}
	</ul>
</nav>

@* Helper method to travers through all descendants *@
@helper Traverse(dynamic node) {
    var maxLevelForNav = 3;
	var items = node.Children.Where("Visible && Level <= " + maxLevelForNav + 
		" && TemplateId > 0 " +
		" && DocumentTypeAlias != \"AuthorFolder\" " +
		" && DocumentTypeAlias != \"CategoryFolder\" " +
		" && DocumentTypeAlias != \"BlogPosts\" " +
		" && DocumentTypeAlias != \"Rss\" "
	);

    if (items.Any()) {
	        <ul class="c-nav__list--sub">
    	        @foreach (var item in items) {
					<li class="c-nav__item c-nav__item--child">
						<a href="@item.Url" class="c-nav__link @(CurrentPage.Id == item.Id ? "active" : null)">@item.Name</a>
						@Traverse(item)
	                </li>
    	        }
        	</ul>
    }
}
